<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FeedBUF_Casus.Properties.Settings.FeedBUF_DBConnectionString"
            connectionString="Data Source=&quot;tcp:max.brosky.net\GIGASOFTDB, 1433&quot;;Initial Catalog=FeedBUF_DB;Persist Security Info=True;User ID=sa;Password=Gigasoft123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>